instantclient-basic-linux.arm64-19.10.0.0.0dbru.zip filter=lfs diff=lfs merge=lfs -text
instantclient-sdk-linux.arm64-19.10.0.0.0dbru.zip filter=lfs diff=lfs merge=lfs -text
instantclient-sqlplus-linux.arm64-19.10.0.0.0dbru.zip filter=lfs diff=lfs merge=lfs -text
