instantclient-basic-linux.x64-21.8.0.0.0dbru.zip filter=lfs diff=lfs merge=lfs -text
instantclient-sdk-linux.x64-21.8.0.0.0dbru.zip filter=lfs diff=lfs merge=lfs -text
instantclient-sqlplus-linux.x64-21.8.0.0.0dbru.zip filter=lfs diff=lfs merge=lfs -text
